<div class="edit-container">
    <form action="/admin/edit/{{_id}}" method="POST" class="admin-form">
        <h2>CUSTOM YOUR BIKE!</h2>
        <div class="createInputs">
            <div class="createForm-left">
                <label for="name">Model</label>
                <input type="text" name="name" placeholder="{{bike.name}}">

                <label for="brand">Brand</label>
                <input type="text" name="brand" placeholder="{{bike.brand}}">

                <label for="engine">Engine (cc)</label>
                <input type="number" name="engine" placeholder="{{bike.engine}}">

                <label for="horsepower">Horsepower</label>
                <input type="number" name="" placeholder="{{bike.horsepower}}">

                <label for="price">Price</label>
                <input type="number" name="" placeholder="{{bike.price}}">

                <label for="type">Type</label>
                <select name="type" id="select-biketype">
                    <option value="Cruiser">Cruiser</option>
                    <option value="Touring">Touring</option>
                    <option value="Roadster">Roadster</option>
                    <option value="Sportbike">Sportbike</option>
                    <option value="Dual-sport">Dual-sport</option>
                    <option value="Standard-retro">Standard-retro</option>
                </select>

                <label for="A2">Available for A2</label>
                <input type="checkbox" name="A2">
            </div>
            <div class="createForm-right">

                {{!-- <label for="usage">Usage</label>
                <input type="text" name=""> --}}

                <label for="description">Description</label>
                <input type="text" name="" placeholder="{{bike.description}}">

                <label for="link">Link to the brand</label>
                <input type="url" name="link" placeholder="{{bike.link}}">

                <label for="image">Link for image</label>
                <input type="link" name="image" placeholder="{{bike.image}}">
            </div>
        </div>

        <button id="create-btn">EDIT</button>
        {{!-- <input type="submit" value="Add !"> --}}
    </form>
</div>